@charset "UTF-8";
* {font-family: Arial, Helvetica, sans-serif;}
body{
    background-image: linear-gradient(to left,#83AF93,#C9C8F5,#A4A3C7,#9594B5,#8F8EAD );
}
main{
font-family: Arial, Helvetica, sans-serif;
background-color: white;
text-justify: auto;
text-indent: 20px;
border-radius: 20px;
box-shadow: 3px 3px 10px #548a68 ;
width: 600px;
padding: 10px;
margin: auto;

}

h1{
    text-align: center;
    color: #83AF93;
}
h2{color: #83AF93;
text-align: center;}
p{text-align: center;}

.video{
    padding-left: 20px;
}
